services:
  db:
    image: postgres:16
    container_name: oilfield_postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - oilfield_pgdata:/var/lib/postgresql/data

volumes:
  oilfield_pgdata: